<header class="fixed top-0 lg:left-64 right-0 h-16 bg-white/70 backdrop-blur flex items-center justify-between px-8 shadow-sm">

    <h2 class="text-xl font-bold text-blue-700">
        @ViewData["Title"]
    </h2>

    <div class="flex gap-3">
        <button class="p-2 hover:bg-slate-100 rounded-lg">
            🔔
        </button>
        <button class="p-2 hover:bg-slate-100 rounded-lg">
            ⚙
        </button>
    </div>

</header>