@using InventoryTracker.WebAdmin.ViewModels.Dashboard
@model InventoryTracker.WebAdmin.ViewModels.Dashboard.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="mb-10">
    <h1 class="text-3xl font-bold">Overview</h1>
    <p class="text-gray-500">
        Real-time inventory metrics and recent transactions at a glance.
    </p>
</div>

<div class="grid grid-cols-4 gap-6 mb-8">

    @await Html.PartialAsync("Partials/_MetricCard",
        new MetricCardViewModel{ Title = "Total Items", Value = Model.TotalItems.ToString() })

    @await Html.PartialAsync("Partials/_MetricCard",
        new MetricCardViewModel { Title = "Clients", Value = Model.ActiveClients.ToString() })

    @await Html.PartialAsync("Partials/_MetricCard",
        new MetricCardViewModel { Title = "Warehouses", Value = Model.Warehouses.ToString() })

    @await Html.PartialAsync("Partials/_MetricCard",
        new MetricCardViewModel { Title = "Stock %", Value = Model.StockCapacity.ToString() })

</div>

<div class="d-grid gap-8">

        @await Html.PartialAsync("Partials/_TransactionsTable",
            Model.RecentTransactions)

</div>

