@model InventoryTracker.WebAdmin.ViewModels.Login.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryTracker.WebAdmin.styles.css" asp-append-version="true" />
</head>
<body class="login-page">
    <div class="container">
        <div class="login-wrapper">
            <div class="card login-card">
                <div class="login-card-topbar"></div>

                <div class="card-body pb-0">
                    <div class="text-center mb-4">
                        <h1 class="login-title">Inventory tracker</h1>
                        <p class="login-subtitle">
                            Please enter your credentials to access your workspace.
                        </p>
                    </div>

                    <form asp-action="Login" asp-controller="Auth" method="post">
                        @Html.AntiForgeryToken()

                        <div class="row mb-3 align-items-center">
                            <div class="col-2">
                                <label asp-for="Email" class="form-label form-label-custom"></label>
                            </div>
                            <div class="col-10">
                                <input asp-for="Email" class="form-control" placeholder="example@inventorytracker.com" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-4 align-items-center">
                            <div class="col-2">
                                <label asp-for="Password" class="form-label form-label-custom mb-0"></label>
                            </div>
                            <div class="col-10">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-login mx-auto">Login</button>  
                        </div>

                        <div class="validation-summary-container">
                            <div asp-validation-summary="ModelOnly" class="text-secondary"></div>
                        </div>
                    </form>

                </div>
                <div class="login-card-bottombar"></div>
            </div>
        </div>
    </div>
</body>
</html>